html {
	box-sizing: border-box;
}

*,
*::before,
*::after{
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}

body {
	font-family: "Roboto", serif;
}

.hero {
	background-color: #1F2937;
	padding: 0 13vw;
	height: 82vh;
}

.nav {
	display: flex;
	gap: 24px;
	padding: 16px;
	align-items: center;
}

.nav a {
	text-decoration: none;
}

.nav-logo {
	font-size: 24px;
	color: #F9FAF8;
	font-weight: 900;
	margin-right: auto;
}

.nav-link,
.hero-sec-text {
	font-size: 18px;
	color: #ebedf0c0;
}
