html {
	box-sizing: border-box;
}

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}

body {
	font-family: "Roboto", serif;
}

.header {
	background-color: #1f2937;
	padding: 0 13vw;
	height: 82vh;
	display: flex;
	flex-direction: column;
}

.nav {
	display: flex;
	gap: 24px;
	padding: 16px;
	align-items: center;
}

.nav a {
	text-decoration: none;
}

.nav-logo {
	font-size: 28px;
	color: #f9faf8;
	font-weight: 900;
	margin-right: auto;
}

.nav-link,
.hero-sec-text,
.hero-signup {
	font-size: 20px;
	color: #e5e7ebc1;
}

.hero {
	padding: 16px;
	flex: 1;
	display: flex;
	gap: 54px;
}

.hero-main-text {
	font-size: 52px;
	font-weight: 900;
	color: #f9faf8;
}

.hero-text,
.hero-image {
	flex: 1;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.hero-sec-text {
	margin: 8px 0px 16px;
}


.hero-signup {
	color: #f9faf8;
	font-weight: 500;
	background-color: #3882f6;
	align-self: flex-start;
	padding: 8px 30px;
	border: none;
	border-radius: 8px;
}

img {
	height: 260px;
}